#Wed Nov 22 14:51:10 IST 2017
lisa.vse.execution.mode=EFFICIENT
LIVE_INVOCATION_PORT=9999
LIVE_INVOCATION_SERVER=localhost
LIVE_INVOCATION_PORT1=8080
LIVE_INVOCATION_SERVER1=localhost
ENDPOINT=http\://<webserver>/eai_<lang>/start.swe?SWEExtSource\=WebService&SWEExtCmd\=Execute&WSSOAP\=1
ENDPOINT1=https\://www.google.co.in/search?q\=easy+tech+mahindra&ie\=utf-8&oe\=utf-8&gws_rd\=cr&dcr\=0&ei\=l0AVWoumMpaevQT9z5zYCA
