#Fri Mar 02 11:46:28 IST 2018
lisa.vse.execution.mode=EFFICIENT
LIVE_INVOCATION_SERVER=localhost
LIVE_INVOCATION_PORT=8080
PROJECT_PATH=D\:\\DevTest\\Projects\\D1
LIVE_INVOCATION_PORT1=80
ENDPOINT=http\://www.webservicex.net/medicareSupplier.asmx
ENDPOINT1=http\://www.webservicex.net/medicareSupplier.asmx
