#Thu Nov 30 14:59:09 IST 2017
DATA_DRIVEN_VS_ENDPOINT=http\://localhost\:8001/itkoExamples
LIVE_INVOCATION_PORT=9999
LIVE_INVOCATION_SERVER=localhost
LIVE_INVOCATION_PORT1=8080
LIVE_INVOCATION_SERVER1=localhost
lisa.vse.execution.mode=EFFICIENT
WSSERVER=localhost
WSPORT=8031
WSPORT1=8001
WSPORT2=7003
WSPORT3=80
WSPORT4=8074
LIVE_INVOCATION_PORT2=80
